PORT=8000
# DATABASE_URL="postgresql://postgres:Tasnim134@localhost:5432/quickhire"
DATABASE_URL=postgresql://neondb_owner:npg_OrgR9aLXAE6h@ep-young-king-aiqo2zai-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require